<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>sample.sp24.t2s4.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDAO</servlet-name>
        <servlet-class>sample.sp24.t2s4.user.UserDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDTO</servlet-name>
        <servlet-class>sample.sp24.t2s4.user.UserDTO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBUtils</servlet-name>
        <servlet-class>sample.sp24.t2s4.utils.DBUtils</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>sample.sp24.t2s4.controllers.DeleteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDAO</servlet-name>
        <url-pattern>/UserDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDTO</servlet-name>
        <url-pattern>/UserDTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBUtils</servlet-name>
        <url-pattern>/DBUtils</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>dynamic connection</description>
        <res-ref-name>DBcon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
